################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.user
Debug
.vs
/cutscenelib/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
*.csv#
/cutscenelib/x64/Release
/cutscenelib/Release
/Sample/x64/Release
/Sample/Release
