################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.user
.vs
/cutscenelib/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
*.csv#
/cutscenelib/x64/Release
/cutscenelib/Release
/Sample/x64/Release
/Sample/Release
/cutscenelib/x64/Debug
/Sample/x64/Debug
/x64/Debug/d3dx9d_43.dll
/x64/Debug/d3dx11d_43.dll
/x64/Debug/d3dx10d_43.dll
/x64/Debug/D3DCompiler_43.dll
/x64/Debug/Sample.pdb
/x64/Debug/Sample.exe
/x64/Debug/meshShader.cso
/x64/Release/Sample.pdb
/x64/Release/Sample.exe
/x64/Release/meshShader.cso
/x64/Release/d3dx9_43.dll
/x64/Release/d3dx11_43.dll
/x64/Release/d3dx10_43.dll
/x64/Release/D3DCompiler_43.dll
/x64/Release/animMeshShader.cso
/x64/Debug/animMeshShader.cso
